*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    --white: #fff;
    --quase-branco: #F6F2FF;
    --button-hover: #7ab4bb;
    --cinza-claro: #847577;
    --azul-escuro: #223843;
    --azul: #0892A5;
    --claro: #FEEAFA;
    --amarelo-atencao: #FFBF00;
    --green: #65db65;
    --azul-carinho: #cbddff;

}

button{
    cursor: pointer;
}

a{
    color: inherit;
}